input{
    height: 2.5rem;
    width: 15rem;
    text-align: center;
    font-size: 20px;
    margin-right: 20px;
    
}
span{
    margin-right: 4rem;
}

#mark-icon{
    font-size: 35px;
    cursor: pointer;
}